@model IEnumerable<SoftwareEngineeringProject.Data.KeyRequestLines>
<h2>Your Key Status'</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Request ID</th>
        <th>Room Number</th>
        <th>Submission Date</th>
        <th>Approval Date</th>
        <th>Key Delivered</th>
        <th>Status</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KeyRequest.Requestor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeyRequest.Creation_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>

        </tr>
    }
</table>