@model IEnumerable<SoftwareEngineeringProject.Data.KeyRequestLines>

<h2>Data Lookup</h2>
<div class="row">
    <form>
        <div class="form-group col-md-4">
            <label for="search">Search:</label>
            <input id="search" class="form-control" type="text" placeholder="Search" />
        </div>
    </form>
</div>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeyRequest.Requestor)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.KeyRequest.Id)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.KeyRequest.ApplicationUser.AssociateDeanID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeyRequest.ApplicationUser.Campus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeyRequest.ApplicationUser.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeyRequest.ApplicationUser.Room)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Rooms.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rooms.Type)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeyRequest.Creation_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeyRequest.Requestor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeyRequestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeyRequest.Creation_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalDate)
            </td>
        </tr>
        }
    </tbody>
</table>




