@model IEnumerable<SoftwareEngineeringProject.Data.KeyRequestLines>

<h2>Data Lookup</h2>
<div class="row">
    <form asp-action="Lookup" method="post">
        <div class="form-group col-md-4">
            <label for="search">Search:</label>
            <input id="search" class="form-control" type="text" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Search" /><br />
            <input type="submit" value="Search" />
        </div>
    </form>
</div>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                BannerID
            </th>
            <th>
                Department
            </th>
            <th>
                Email
            </th>
            <th>
                Requested Room
            </th>
            <th>
                Access Type
            </th>
            <th>
                Reason
            </th>
            <th>
                Creation Date
            </th>
            <th>
                Request Approved/Declined Date
            </th>
            <th>
                Completed Date
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KeyRequest.ApplicationUser.BannerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KeyRequest.ApplicationUser.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KeyRequest.ApplicationUser.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReasonForAccess)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KeyRequest.Creation_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
            </tr>
        }
    </tbody>
</table>




