@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;

    List<String> data = (List<String>)ViewData["test"];
    string[] name = new string[] { "Bill", "Dana", "Alex", "Myles", "Michael", "Carter", "Tyler", "Bob", "Joey", "Tammy", "Sarah" };
    string[] lname = new string[] { "Smith", "Doe", "Birch", "Brown", "Jones", "Johnson", "Williams", "Hall", "Young", "King", "Scott" };
}

<h1>@ViewData["test"]</h1>

<h2>Data Lookup</h2>
<div class="row">
    <form>
        <div class="form-group col-md-4">
            <label for="search">Search:</label>
            <input id="search" class="form-control" type="text" placeholder="Search" />
        </div>
    </form>
</div>


{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                @foreach (String values in data)
                {
                    <th>values</th>
                }
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
}


<table class="table table-bordered table-striped">
    <tr>
        <th>Banner ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Request ID</th>
        <th>Submission Date</th>
        <th>Approval Date</th>
        <th>Key Delivered</th>
    </tr>
    @for (int i = 1; i <= 25; i++)
    {

        Random rnd = new Random();
        int rndNum = i * rnd.Next(100, 10000);
        int rndName = rnd.Next(0, name.Length);
        int rndLName = rnd.Next(0, lname.Length);

        <tr>
            <td>@i</td>
            <td>@name[rndName]</td>
            <td>@lname[rndLName]</td>
            <td>@rndNum</td>
            <td>@DateTime.Now</td>
            <td>Not Approved</td>
            <td>Not Deleivered</td>
        </tr>
    }
</table>
